#submenu {
	position: absolute;
	top: 110px;
	right: 45px;
	margin: 0p;
	padding: 0px;
	list-style-type: none;
	z-index: 4;
}
#submenu.fixed {
	position:fixed;
	top: 45px;
}

#submenu a{
	min-width: 150px;
	background-color: #fff;
	border-radius: 2px;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	font-size: 10pt;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 2px;
	border: solid 1px #acacac;
	color: #999;
	transition: background-color 0.5s, color 0.5s;
}

#submenu li.current a {
	background-color: #ababab;
	color: #fff;
}

#submenu li a:hover {
	background-color: #666;
	color: #fff;
}