#submenu ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#submenu {
	z-index: 4;
	position: absolute;
}
#submenu a{
	background-color: #fff;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	font-size: 10pt;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
	transition: background-color 0.5s, color 0.5s;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#submenu li.current a {
	background-color: #ababab;
	color: #fff;
}

#submenu li a:hover {
	background-color: #666;
	color: #fff;
}

#submenu.fixed {
	position:fixed;
	top: 45px;
}
.clr {
	height: 0px;
	display: block;
	visibility: hidden;
	clear: both;
	float: none;
}

@media all and (min-width: 585px) {
	#submenu {
		top: 110px;
		right: 45px;
	}
	

	
	#submenu a {
		min-width: 150px;
		border-radius: 2px;
		margin-bottom: 2px;
		border: solid 1px #acacac;
		max-width: 200px;
	}

	#submenu.fixed {
		top: 30px;
	}
}


@media all and (max-width: 585px) {
	#submenu.fixed {
		position:fixed;
		top: 0px;
	}

	#submenu {
		max-width: 585px;
		background-color: rgba( 220, 220, 220, 0.4);
	}
	#submenu ul {
		width: 100%;
	}
	#submenu li {
		display: block;
		width: 50%;
		padding: 0px;
		margin: 0px;
		overflow: hidden;
		float: left;
	}
	#submenu a {
		display: block;
		width: 100%;
		text-align: center;
		border-bottom: solid 1px #acacac;
		padding: 10px;
		margin: 0px;
		float: left;
	}
	#submenu li:nth-child(odd) a{
		border-right: solid 1px #acacac;
	}
	#submenu li:nth-child(1) a, #submenu li:nth-child(2) a{
		border-top: solid 1px #acacac;
	}

}